# MySql on GitHub 2021-07-14 at 19:13:56

name: Test

on:
  push

jobs:
  python:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install
      run: |
        sudo apt-get install python3-pip 
        pip3 install mysql-connector-python

    - name: MySQLRemove
      run: |
        sudo apt remove  mysql-server

    - name: MySQLInstall
      run: |
        sudo apt install mysql-server -y

    - name: MySQLStart
      run: |
        sudo systemctl start mysql.service

    - name: MySQLStatus
      run: |
        sudo systemctl status mysql

    - name: MySQLTest
      run: |
        mysql -e "SELECT CURRENT_TIMESTAMP;"

    - name: Python
      run: |
        python3 select.py
