# MySql on GitHub 2021-07-14 at 19:13:56

name: Test

on:
  push

jobs:
  python:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install
      run: |
        sudo apt-get install python3-pip 
        pip3 install mysql-connector-python

    - name: MySQLStart
      run: |
        sudo systemctl status mysql.service
        systemctl status mysql.service

    - name: MySQLTest
      run: |
        mysql -uroot -proot -e "SELECT CURRENT_TIMESTAMP;"

    - name: Python
      run: |
        python3 select.py
